{% load i18n static admin_argon %}

<ul class="navbar-nav">

  <!-- Check if the user is authenticated -->
  {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a href="/sales-pipeline/pipeline/" class="nav-link {% if '/sales-pipeline/pipeline/' in request.path %}active{% endif %}">
        <i class="ni ni-chart-bar-32 text-warning"></i>
        <span class="nav-link-text">Sales Pipeline</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/recruitment/pipeline/" class="nav-link {% if '/recruitment/pipeline/' in request.path %}active{% endif %}">
        <i class="ni ni-user-run text-success"></i>
        <span class="nav-link-text">Recruitment Pipeline</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/sales-pipeline/clients/" class="nav-link {% if '/sales-pipeline/clients/' in request.path %}active{% endif %}">
        <i class="ni ni-bullet-list-67 text-primary"></i>
        <span class="nav-link-text">Clients</span>
      </a>
    </li>
  {% endif %}

</ul>
